# 1.Carga y depuración

In [1]:
#librerias necesarias
import pandas as pd
import numpy as np

In [3]:
#carga local
kernel1='C:/Users/miavila/Documents/U/PROYECTO P/Datos_mes_Unclean/'        # LUGAR DE LAS BASES SUCIAS / CARCAR AQUI LAS NUEVAS / 
kernel2='C:/Users/miavila/Documents/U/PROYECTO P/variables exogenas/'    # LUGAR DE BASES DE EXCEL, /festivos,/festividades, /incidentes
kernel3='C:/Users/miavila/Documents/U/PROYECTO P/basef/'               # LUGAR DE 4 BASES, YA FILTRADAS ENERO A AGOSTO
kernel4='C:/Users/miavila/Documents/U/PROYECTO P/BASES NEW/'         # LUGAR DONDE SE GUARDARAN LAS BASES DE ESTE SCRIP 

#base1=pd.read_excel(kernel1+ 'Enero_febrero-2022.xlsx')
#base2=pd.read_excel(kernel1+ 'Marzo_abril-2022.xlsx')
#base3=pd.read_excel(kernel1+ 'Mayo_junio-2022.xlsx')
#base4=pd.read_excel(kernel1+ 'Julio.xlsx')
#base5=pd.read_excel(kernel1+ 'Agosto.xlsx')

#COLOCAR NUEVOS MESES       xxxxx
base1=pd.read_excel(kernel1+'Julio.xlsx')
base2=pd.read_excel(kernel1+'Agosto.xlsx')

In [ ]:
base2.Operación

In [3]:
# unificar todos los meses disponibles
base_=pd.concat([base1,base2  ], axis=0,)

* observa valores faltantes en algunas columnas( debido a valores vacios en operación)

In [4]:
for col in base1.columns:
    num_missing = base1[col].isnull().sum()
    pct_missing = np.mean(base1[col].isnull())
    #print(col," - ",round(pct_missing*100, 2),"% - ",num_missing)
    print('{} - {}% - {}'.format(col,round(pct_missing*100, 2),num_missing))

Begin Time - 0.0% - 0
Presentation Name - 0.0% - 0
Atendidas - 0.0% - 0
Abandonadas - 0.0% - 0
Recibidas - 0.0% - 0
Operación - 31.25% - 14880
Año - 0.0% - 0
Mes - 0.0% - 0
Dia - 0.0% - 0
Fecha - 0.0% - 0
15 Minutos - 0.0% - 0
Hora - 0.0% - 0
30 min - 0.0% - 0
Festivo - 0.0% - 0
Unificacíon - 31.25% - 14880
Ubicación - 31.25% - 14880

# 1.1. Concatenar las bases Impuras

In [5]:
# unificar todos los meses 
#base_=pd.concat([base1,base2,base3,base4,base5         ], axis=0,)

In [6]:
base_

,Begin Time,Presentation Name,Atendidas,Abandonadas,Recibidas,Operación,Año,Mes,Dia,Fecha,15 Minutos,Hora,30 min,Festivo,Unificacíon,Ubicación
0,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,00:00:00,00:00:00,00:00:00,NO,Persona juridica,Home
1,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,00:30:00,00:00:00,00:30:00,NO,Persona juridica,Home
2,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,01:00:00,01:00:00,01:00:00,NO,Persona juridica,Home
3,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,01:30:00,01:00:00,01:30:00,NO,Persona juridica,Home
4,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,02:00:00,02:00:00,02:00:00,NO,Persona juridica,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47590,2022-08-31,VQG_Persona_Natural,0.0,0.0,0.0,Persona Natural,2022.0,Agosto,Miércoles,2022-08-31,23:30:00,23:00:00,23:30:00,NO,Persona natural,Sitio
47591,2022-08-31,VQG_Atento_PN,4.0,3.0,7.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:30:00,23:00:00,23:30:00,NO,Persona natural,Sitio
47592,2022-08-31,VQG_Pensilvania_Total,0.0,0.0,0.0,Pensilvania,2022.0,Agosto,Miércoles,2022-08-31,23:45:00,23:00:00,23:30:00,NO,Pensilvania,Sitio
47593,2022-08-31,VQG_Persona_Natural,0.0,0.0,0.0,Persona Natural,2022.0,Agosto,Miércoles,2022-08-31,23:45:00,23:00:00,23:30:00,NO,Persona natural,Sitio
47594,2022-08-31,VQG_Atento_PN,5.0,0.0,5.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:45:00,23:00:00,23:30:00,NO,Persona natural,Sitio

SI SE NECESITA FILTRAR OTRAS CARACTERISTICAS
* COMO CORREGIR SINTAXIS DE SITO A SITIO

```
def etl():
    #concantenan todos los meses por filas (respeta las columnas)
   base=pd.concat([base1,base2,base3,base4,base5], axis=0,)
    #elimina todos los registros con la operación c$$$
   base.drop(base.loc[base['Presentation Name']=='c$$$'].index, inplace=True)
    #transformación a dataframe y seleción de las columnas
   base=pd.DataFrame(base,columns=['Begin Time', 'Presentation Name', 'Atendidas', 'Abandonadas',
       'Recibidas', 'Operación', 'Año', 'Mes', 'Dia', 'Fecha', '15 Minutos',
       'Hora', '30 min', 'Festivo', 'Unificacíon', 'Ubicación'])
    #se resetea el index 
   base.index = range(base.shape[0])
    #convierte a numero entero 
   base['Recibidas'] = base['Recibidas'].astype(int)
    #se corrije la sintasis de Sito por Sitio
   base['Ubicación'].replace(['Sito'],['Sitio'],inplace=True)
    #asigna nueva columna con el valor de 1
    #base['FechaT']=1

    #UNFICACIÓN DE FECHA CON HORA
    #nueva columna con la fecha en nuevo formato AÑO/MES/DIA/HORA/MINUTO/SEGUNDO
   base.loc[:,'FechaT'] = pd.to_datetime(base.Fecha.astype(str)+' '+base.Hora.astype(str))
   base=base[['Recibidas','FechaT','Fecha','Dia','Hora','Operación','Presentation Name']]
   
   return (base)
   
pass
etl()
```

## 2. Ajustar nombre de operaciones 
* Incluye rellenar las operaciones vacias si hay 'Presentation Name' por en su posición (i,j) correspondiente de 'Operación' esta vacia.

In [7]:
def ajus():
    ajus_OPER=pd.read_excel(kernel2+ 'ajuste_nombre_operaciones.xlsx',sheet_name="TABLE_OPER")
    #cruzar las bases
    df=base_
    df = pd.merge(df,ajus_OPER,on='Presentation Name')
    #seleCción de las variables de interes
    
    return(df)
pass
df=ajus()
df

,Begin Time,Presentation Name,Atendidas,Abandonadas,Recibidas,Operación,Año,Mes,Dia,Fecha,15 Minutos,Hora,30 min,Festivo,Unificacíon,Ubicación,Operación_N
0,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,00:00:00,00:00:00,00:00:00,NO,Persona juridica,Home,Biometria
1,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,00:30:00,00:00:00,00:30:00,NO,Persona juridica,Home,Biometria
2,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,01:00:00,01:00:00,01:00:00,NO,Persona juridica,Home,Biometria
3,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,01:30:00,01:00:00,01:30:00,NO,Persona juridica,Home,Biometria
4,2022-07-01,BPJ,0.0,0.0,0.0,Biometria,2022.0,Julio,Viernes,2022-07-01,02:00:00,02:00:00,02:00:00,NO,Persona juridica,Home,Biometria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89254,2022-08-31,VQG_Atento_PN,16.0,0.0,16.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,22:45:00,22:00:00,22:30:00,NO,Persona natural,Sitio,Persona Natural
89255,2022-08-31,VQG_Atento_PN,8.0,0.0,8.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:00:00,23:00:00,23:00:00,NO,Persona natural,Sitio,Persona Natural
89256,2022-08-31,VQG_Atento_PN,9.0,1.0,10.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:15:00,23:00:00,23:00:00,NO,Persona natural,Sitio,Persona Natural
89257,2022-08-31,VQG_Atento_PN,4.0,3.0,7.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:30:00,23:00:00,23:30:00,NO,Persona natural,Sitio,Persona Natural
89258,2022-08-31,VQG_Atento_PN,5.0,0.0,5.0,Atento persona natural,2022.0,Agosto,Miércoles,2022-08-31,23:45:00,23:00:00,23:30:00,NO,Persona natural,Sitio,Persona Natural

* se reduce el tamano  ya que la operación 'c$$$' se excluye. 373227-->349899

* exportar base impura

# GB

In [8]:
df.to_excel(kernel4+'1.NEW base Total Impura.xlsx')

In [9]:

def etl():
   base=df.copy()
    #concantenan todos los meses por filas (respeta las columnas)
    #transformación a dataframe y seleción de las columnas
   base=pd.DataFrame(base,columns=[ 'Presentation Name', 'Atendidas', 'Abandonadas',
       'Recibidas', 'Operación', 'Año', 'Mes', 'Dia', 'Fecha',
       'Hora', 'Festivo', 'Unificacíon', 'Ubicación','Operación_N'])
    #se resetea el index 
   base.index = range(base.shape[0])
    #convierte a numero entero 
   base['Recibidas'] = base['Recibidas'].astype(int)
    #asigna nueva columna con el valor de 1
    #base['FechaT']=1

    #UNFICACIÓN DE FECHA CON HORA
    #nueva columna con la fecha en nuevo formato AÑO/MES/DIA/HORA/MINUTO/SEGUNDO
   base.loc[:,'FechaT'] = pd.to_datetime(base.Fecha.astype(str)+' '+base.Hora.astype(str))
   base=base[['Recibidas','FechaT','Fecha','Dia','Hora','Operación_N','Presentation Name']]
   
   return (base)
   
pass
base=etl()
base

,Recibidas,FechaT,Fecha,Dia,Hora,Operación_N,Presentation Name
0,0,2022-07-01 00:00:00,2022-07-01,Viernes,00:00:00,Biometria,BPJ
1,0,2022-07-01 00:00:00,2022-07-01,Viernes,00:00:00,Biometria,BPJ
2,0,2022-07-01 01:00:00,2022-07-01,Viernes,01:00:00,Biometria,BPJ
3,0,2022-07-01 01:00:00,2022-07-01,Viernes,01:00:00,Biometria,BPJ
4,0,2022-07-01 02:00:00,2022-07-01,Viernes,02:00:00,Biometria,BPJ
...,...,...,...,...,...,...,...
89254,16,2022-08-31 22:00:00,2022-08-31,Miércoles,22:00:00,Persona Natural,VQG_Atento_PN
89255,8,2022-08-31 23:00:00,2022-08-31,Miércoles,23:00:00,Persona Natural,VQG_Atento_PN
89256,10,2022-08-31 23:00:00,2022-08-31,Miércoles,23:00:00,Persona Natural,VQG_Atento_PN
89257,7,2022-08-31 23:00:00,2022-08-31,Miércoles,23:00:00,Persona Natural,VQG_Atento_PN
89258,5,2022-08-31 23:00:00,2022-08-31,Miércoles,23:00:00,Persona Natural,VQG_Atento_PN

In [10]:
base.dtypes

Recibidas                     int32
FechaT               datetime64[ns]
Fecha                datetime64[ns]
Dia                          object
Hora                         object
Operación_N                  object
Presentation Name            object
dtype: object

# 3. AGRUPACIÓN POR HORA

In [11]:
DF=base
    #se agrupa y se suma correspondiente a la misma hora. subcategorizado por DF.FechaT, DF.Fecha,DF.Dia,'Operación_N'
agru = DF.groupby([DF.FechaT,DF.Fecha,DF.Dia,'Operación_N'],dropna=False)['Recibidas'].sum()
    #se convierte la salida en un frame
agru2 = agru.index.to_frame(name=['FechaT','Fecha', 'Dia', 'Operación_N'])
    # resetea el index
agru2.index = range(agru2.shape[0])
    #transformado y odenado a dataframe
DF=pd.DataFrame(agru2,columns=['FechaT','Fecha','Dia','Operación_N'])

In [12]:
DF

                   FechaT      Fecha        Dia              Operación_N
0     2022-07-01 00:00:00 2022-07-01    Viernes   Atento persona natural
1     2022-07-01 00:00:00 2022-07-01    Viernes                Biometria
2     2022-07-01 00:00:00 2022-07-01    Viernes                      CAV
3     2022-07-01 00:00:00 2022-07-01    Viernes             Conservacion
4     2022-07-01 00:00:00 2022-07-01    Viernes        Ejecutivo Premium
...                   ...        ...        ...                      ...
22312 2022-08-31 23:00:00 2022-08-31  Miércoles  Persona Juridica - Home
22313 2022-08-31 23:00:00 2022-08-31  Miércoles          Persona Natural
22314 2022-08-31 23:00:00 2022-08-31  Miércoles   Persona Natural - Home
22315 2022-08-31 23:00:00 2022-08-31  Miércoles        Persona natural A
22316 2022-08-31 23:00:00 2022-08-31  Miércoles                   VIP PJ

[22317 rows x 4 columns]

In [13]:
recib=pd.DataFrame(agru.values,columns=['sumRecibidas'])
recib

       sumRecibidas
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
22312             4
22313            30
22314            28
22315            23
22316             0

[22317 rows x 1 columns]

In [14]:
DF=pd.concat([DF,recib], axis=1,)

* guardar total por hora

# GB

In [15]:
DF.to_excel(kernel4+'2. NEW Agrupación por hora.xlsx')

# 4. Asignación de variables auxiliares y dias

# Merge festivo

In [16]:
#añadir variable festivo
fest=pd.read_excel(kernel2+ 'lista_festivos 2022.xlsx')
#fff=fest.to_numpy().tolist()
#dfax=DF.assign(Me sN=,DiaN=base.Dia)
#pd.DataFrame(fff, columns=['Fecha', 'festivo']

#cruzar las bases
dfa = pd.merge(DF,fest,on='Fecha')
dfa

,FechaT,Fecha,Dia,Operación_N,sumRecibidas,festivo
0,2022-07-01 00:00:00,2022-07-01,Viernes,Atento persona natural,0,0
1,2022-07-01 00:00:00,2022-07-01,Viernes,Biometria,0,0
2,2022-07-01 00:00:00,2022-07-01,Viernes,CAV,0,0
3,2022-07-01 00:00:00,2022-07-01,Viernes,Conservacion,0,0
4,2022-07-01 00:00:00,2022-07-01,Viernes,Ejecutivo Premium,0,0
...,...,...,...,...,...,...
22312,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Juridica - Home,4,0
22313,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural,30,0
22314,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural - Home,28,0
22315,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona natural A,23,0
22316,2022-08-31 23:00:00,2022-08-31,Miércoles,VIP PJ,0,0

## Merge festividades
* 11 al 21 de enero (periodo vacacional)
* 11 al 21 de abril ( semana santa)

In [17]:
festiv=pd.read_excel(kernel2+ 'lista_festividades_2022.xlsx')
#cruzar las bases
dfaf = pd.merge(dfa,festiv,on='Fecha')
dfaf

,FechaT,Fecha,Dia,Operación_N,sumRecibidas,festivo,festividades
0,2022-07-01 00:00:00,2022-07-01,Viernes,Atento persona natural,0,0,0
1,2022-07-01 00:00:00,2022-07-01,Viernes,Biometria,0,0,0
2,2022-07-01 00:00:00,2022-07-01,Viernes,CAV,0,0,0
3,2022-07-01 00:00:00,2022-07-01,Viernes,Conservacion,0,0,0
4,2022-07-01 00:00:00,2022-07-01,Viernes,Ejecutivo Premium,0,0,0
...,...,...,...,...,...,...,...
22312,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Juridica - Home,4,0,0
22313,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural,30,0,0
22314,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural - Home,28,0,0
22315,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona natural A,23,0,0
22316,2022-08-31 23:00:00,2022-08-31,Miércoles,VIP PJ,0,0,0

# Asignación de variables tipo fecha
* Dia del mes
* Dia_MesN= dia del mes = [1,31]
* 
* Dia de la semana
* Dia_SemN= dia de la semana= [1,7] lunes=1
*
* Mes del año
* MesN= mes en numero enero= 1... agosto =8

In [18]:
dfa=dfaf.copy()
dfa=dfa.assign(MesN=dfa.Fecha.dt.month   ,Dia_MesN=dfa.Fecha.dt.day    ,Dia_SemN=dfa.Dia)

dfa['Dia_SemN'].replace(['Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves','Viernes'],[6,7,1,2,3,4,5],inplace=True)
dfa

,FechaT,Fecha,Dia,Operación_N,sumRecibidas,festivo,festividades,MesN,Dia_MesN,Dia_SemN
0,2022-07-01 00:00:00,2022-07-01,Viernes,Atento persona natural,0,0,0,7,1,5
1,2022-07-01 00:00:00,2022-07-01,Viernes,Biometria,0,0,0,7,1,5
2,2022-07-01 00:00:00,2022-07-01,Viernes,CAV,0,0,0,7,1,5
3,2022-07-01 00:00:00,2022-07-01,Viernes,Conservacion,0,0,0,7,1,5
4,2022-07-01 00:00:00,2022-07-01,Viernes,Ejecutivo Premium,0,0,0,7,1,5
...,...,...,...,...,...,...,...,...,...,...
22312,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Juridica - Home,4,0,0,8,31,3
22313,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural,30,0,0,8,31,3
22314,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural - Home,28,0,0,8,31,3
22315,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona natural A,23,0,0,8,31,3
22316,2022-08-31 23:00:00,2022-08-31,Miércoles,VIP PJ,0,0,0,8,31,3

## Asignación Hora24

In [19]:
dfa['Hora24']=pd.DatetimeIndex(dfa.FechaT).hour
dfa.columns

Index(['FechaT', 'Fecha', 'Dia', 'Operación_N', 'sumRecibidas', 'festivo',
       'festividades', 'MesN', 'Dia_MesN', 'Dia_SemN', 'Hora24'],
      dtype='object')

## Creación de jornadas

In [20]:
JOR5 = np.array([[0,1,2,3,4,5,    6,7,8,9,10,   11,12,   13,14, 15,       16,17,18,19,20,21, 22, 23],
                 [1,1,1,1,1,1,    2,2,2,2,2,      3,3,    4, 4, 4,        5, 5, 5, 5, 5, 5, 5, 5]])
JOR5 = pd.DataFrame(JOR5.T, columns=['Hora24', 'Jornada5'],index=[np.arange(0,24)])

JOR6 = np.array([[  0,1,2,3,4,5,6,   7,8,9,10,11,   12,13,   14, 15,16,  17,18,19,20,21,22,23],
                   [1,1,1,1,1,1,1,   2,2,2,2,2,    3,3,      4,4,4,       5 , 5, 5, 5, 5,5, 1    ] ])
JOR6 = pd.DataFrame(JOR6.T, columns=['Hora24', 'Jornada6'],index=[np.arange(0,24)])


DF_JOR=dfa
 #cruzar las bases
DF_jor = pd.merge(DF_JOR,JOR5,on='Hora24')
DF = pd.merge(DF_jor,JOR6,on='Hora24')
DF

,FechaT,Fecha,Dia,Operación_N,sumRecibidas,festivo,festividades,MesN,Dia_MesN,Dia_SemN,Hora24,Jornada5,Jornada6
0,2022-07-01 00:00:00,2022-07-01,Viernes,Atento persona natural,0,0,0,7,1,5,0,1,1
1,2022-07-01 00:00:00,2022-07-01,Viernes,Biometria,0,0,0,7,1,5,0,1,1
2,2022-07-01 00:00:00,2022-07-01,Viernes,CAV,0,0,0,7,1,5,0,1,1
3,2022-07-01 00:00:00,2022-07-01,Viernes,Conservacion,0,0,0,7,1,5,0,1,1
4,2022-07-01 00:00:00,2022-07-01,Viernes,Ejecutivo Premium,0,0,0,7,1,5,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22312,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Juridica - Home,4,0,0,8,31,3,23,5,1
22313,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural,30,0,0,8,31,3,23,5,1
22314,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Natural - Home,28,0,0,8,31,3,23,5,1
22315,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona natural A,23,0,0,8,31,3,23,5,1
22316,2022-08-31 23:00:00,2022-08-31,Miércoles,VIP PJ,0,0,0,8,31,3,23,5,1

# GB

In [21]:
DF.to_excel(kernel4+'3.NEW BASE_with_AUXI.xlsx')

In [22]:
#segmentación por operación
df=DF.copy()
P=df[df['Operación_N']=='Pensilvania']
APN=df[df['Operación_N']=='Atento persona natural']
PN=df[df['Operación_N']=='Persona Natural']
BIO=df[df['Operación_N']=='Biometria']
CON=df[df['Operación_N']=='Conservacion']
EP=df[df['Operación_N']=='Ejecutivo Premium']
EB=df[df['Operación_N']=='Especializados Bloqueos']
EBF=df[df['Operación_N']=='Especializados Bloqueos F']
ME=df[df['Operación_N']=='Moneda Extranjera - Home']
OR=df[df['Operación_N']=='Orquestador']
PJH=df[df['Operación_N']=='Persona Juridica - Home']
PNH=df[df['Operación_N']=='Persona Natural - Home']
PNA=df[df['Operación_N']=='Persona natural A']
CAV=df[df['Operación_N']=='CAV']
VIP=df[df['Operación_N']=='VIP PJ']

# UNIFICACIONES DE OPERACIONES

 plantilla. renombrar las operaciones por el nombre que corresponderan
```
from os import replace
df=DF.copy()
df['Operación_N'].replace(['Atento persona natural','Persona Natural','Persona Natural - Home','Persona natural A'],['U_Persona_Natural','U_Persona_Natural','U_Persona_Natural','U_Persona_Natural'],inplace=True)

## Unificación persona natural
|'Atento persona natural'  | 'Persona Natural' | 'Persona Natural - Home' | 'Persona natural A' --> U_Persona_Natural

In [23]:
from os import replace
df=DF.copy()
df['Operación_N'].replace(['Atento persona natural','Persona Natural','Persona Natural - Home','Persona natural A','Pensilvania'],['U_Persona_Natural','U_Persona_Natural','U_Persona_Natural','U_Persona_Natural','U_Persona_Natural'],inplace=True)

In [24]:
agru = df.groupby(['FechaT', 'Fecha', 'Dia', 'Operación_N', 'festivo',
       'festividades', 'MesN', 'Dia_MesN', 'Dia_SemN', 'Hora24', 'Jornada5',
       'Jornada6'],dropna=False)['sumRecibidas'].sum()

agru2 = agru.index.to_frame(name=['FechaT', 'Fecha', 'Dia', 'Operación_N', 'festivo',
       'festividades', 'MesN', 'Dia_MesN', 'Dia_SemN', 'Hora24', 'Jornada5',
       'Jornada6'])
agru2.index = range(agru2.shape[0])

DF=pd.DataFrame(agru2,columns=['FechaT', 'Fecha', 'Dia', 'Operación_N','festivo',
       'festividades', 'MesN', 'Dia_MesN', 'Dia_SemN', 'Hora24', 'Jornada5',
       'Jornada6'])
       
recib=pd.DataFrame(agru.values,columns=['sumRecibidas'])

DF=pd.concat([DF,recib], axis=1,)

In [25]:
DF

,FechaT,Fecha,Dia,Operación_N,festivo,festividades,MesN,Dia_MesN,Dia_SemN,Hora24,Jornada5,Jornada6,sumRecibidas
0,2022-07-01 00:00:00,2022-07-01,Viernes,Biometria,0,0,7,1,5,0,1,1,0
1,2022-07-01 00:00:00,2022-07-01,Viernes,CAV,0,0,7,1,5,0,1,1,0
2,2022-07-01 00:00:00,2022-07-01,Viernes,Conservacion,0,0,7,1,5,0,1,1,0
3,2022-07-01 00:00:00,2022-07-01,Viernes,Ejecutivo Premium,0,0,7,1,5,0,1,1,0
4,2022-07-01 00:00:00,2022-07-01,Viernes,Especializados Bloqueos,0,0,7,1,5,0,1,1,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16363,2022-08-31 23:00:00,2022-08-31,Miércoles,Moneda Extranjera - Home,0,0,8,31,3,23,5,1,0
16364,2022-08-31 23:00:00,2022-08-31,Miércoles,Orquestador,0,0,8,31,3,23,5,1,0
16365,2022-08-31 23:00:00,2022-08-31,Miércoles,Persona Juridica - Home,0,0,8,31,3,23,5,1,4
16366,2022-08-31 23:00:00,2022-08-31,Miércoles,U_Persona_Natural,0,0,8,31,3,23,5,1,81
16367,2022-08-31 23:00:00,2022-08-31,Miércoles,VIP PJ,0,0,8,31,3,23,5,1,0

* conversión de entero a categoria

In [26]:
DF = DF.astype({'Dia':'category', 'Operación_N':'category',
 'festivo':'category','festividades':'category', 'MesN':'category', 'Dia_MesN':'category',
  'Dia_SemN':'category', 'Hora24':'category', 'Jornada5':'category', 'Jornada6': 'category'})

* Ordenar columnas

In [27]:
DF=pd.DataFrame(DF,columns=['FechaT','Fecha','Operación_N','sumRecibidas',
  'festivo', 'festividades', 'Dia_SemN','Dia_MesN', 'MesN','Hora24','Jornada5', 'Jornada6'])
DF

,FechaT,Fecha,Operación_N,sumRecibidas,festivo,festividades,Dia_SemN,Dia_MesN,MesN,Hora24,Jornada5,Jornada6
0,2022-07-01 00:00:00,2022-07-01,Biometria,0,0,0,5,1,7,0,1,1
1,2022-07-01 00:00:00,2022-07-01,CAV,0,0,0,5,1,7,0,1,1
2,2022-07-01 00:00:00,2022-07-01,Conservacion,0,0,0,5,1,7,0,1,1
3,2022-07-01 00:00:00,2022-07-01,Ejecutivo Premium,0,0,0,5,1,7,0,1,1
4,2022-07-01 00:00:00,2022-07-01,Especializados Bloqueos,32,0,0,5,1,7,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16363,2022-08-31 23:00:00,2022-08-31,Moneda Extranjera - Home,0,0,0,3,31,8,23,5,1
16364,2022-08-31 23:00:00,2022-08-31,Orquestador,0,0,0,3,31,8,23,5,1
16365,2022-08-31 23:00:00,2022-08-31,Persona Juridica - Home,4,0,0,3,31,8,23,5,1
16366,2022-08-31 23:00:00,2022-08-31,U_Persona_Natural,81,0,0,3,31,8,23,5,1
16367,2022-08-31 23:00:00,2022-08-31,VIP PJ,0,0,0,3,31,8,23,5,1

In [28]:
UPN=DF[DF['Operación_N']=='U_Persona_Natural']

#ordenar los registros por hora y fecha
UPN=UPN.sort_values(by='FechaT') #ascending=False 
UPN.index = range(UPN.shape[0])

UPN2 = UPN.set_index('FechaT')

UPN

,FechaT,Fecha,Operación_N,sumRecibidas,festivo,festividades,Dia_SemN,Dia_MesN,MesN,Hora24,Jornada5,Jornada6
0,2022-07-01 00:00:00,2022-07-01,U_Persona_Natural,50,0,0,5,1,7,0,1,1
1,2022-07-01 01:00:00,2022-07-01,U_Persona_Natural,18,0,0,5,1,7,1,1,1
2,2022-07-01 02:00:00,2022-07-01,U_Persona_Natural,8,0,0,5,1,7,2,1,1
3,2022-07-01 03:00:00,2022-07-01,U_Persona_Natural,7,0,0,5,1,7,3,1,1
4,2022-07-01 04:00:00,2022-07-01,U_Persona_Natural,19,0,0,5,1,7,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1483,2022-08-31 19:00:00,2022-08-31,U_Persona_Natural,890,0,0,3,31,8,19,5,5
1484,2022-08-31 20:00:00,2022-08-31,U_Persona_Natural,581,0,0,3,31,8,20,5,5
1485,2022-08-31 21:00:00,2022-08-31,U_Persona_Natural,357,0,0,3,31,8,21,5,5
1486,2022-08-31 22:00:00,2022-08-31,U_Persona_Natural,216,0,0,3,31,8,22,5,5
1487,2022-08-31 23:00:00,2022-08-31,U_Persona_Natural,81,0,0,3,31,8,23,5,1

# GB

In [29]:
UPN.to_excel(kernel4+'new U_PERSONA_NATURAL.xlsx')

- posible variable en un futuro dia sin iva (no se tiene en cuenta
- en persona natural pero historicamente en otras operaciones
- puede existir correlación de incremento)
* Segunda jornada: 17 de junio de 2022.
* Primera jornada: 11 de marzo de 2022.

## Exportar base total por hora
Al exportar la base tener en cuenta

se actualizara(reeemplazará) el archivo en carpeta con MISMO nombre con el nuevo cargado.

# GB

In [30]:
DF.to_excel(kernel4+'4.NEW total agru_hour.xlsx')

# UNIR
## Importar  'total por hora acumulado' y concatenar con el/los nuevo mes

In [31]:
TAH=pd.read_excel(kernel3+'4.total agru_hour.xlsx')
DFCONCAT=pd.concat([TAH,DF ], axis=0,) # axis 0 concatenar por filas

# GB

In [32]:
DFCONCAT.to_excel(kernel4+'4. NEW TAIL_AGRU_HOUR.xlsx')

___
# Cruce con INCIDENTES PARA U_PERSONA NATURAL
* Unicamente para persona Natural ya que la observación de los incidentes fue unicamente para esta operación
* Ademas  existen incidentes que no afectan las operaciones, asi mismo solo incidentes que afectan ciertas operaciones

In [33]:
inci=pd.read_excel(kernel2+'INCIDENTES.xlsx',sheet_name='INCIDENTES ONLY FECHA')
UPN=DF[DF['Operación_N']=='U_Persona_Natural']

#cruzar las bases
UPNI = pd.merge(UPN,inci,on='Fecha')
UPNI

,FechaT,Fecha,Operación_N,sumRecibidas,festivo_x,festividades_x,Dia_SemN_x,Dia_MesN_x,MesN_x,Hora24,Jornada5,Jornada6,INC,INC_HIT,INC_CAT,festivo_y,festividades_y,Dia_MesN_y,Dia_SemN_y,MesN_y
0,2022-07-01 00:00:00,2022-07-01,U_Persona_Natural,50,0,0,5,1,7,0,1,1,2.0,1061,8,0,0,1,5,7
1,2022-07-01 01:00:00,2022-07-01,U_Persona_Natural,18,0,0,5,1,7,1,1,1,2.0,1061,8,0,0,1,5,7
2,2022-07-01 02:00:00,2022-07-01,U_Persona_Natural,8,0,0,5,1,7,2,1,1,2.0,1061,8,0,0,1,5,7
3,2022-07-01 03:00:00,2022-07-01,U_Persona_Natural,7,0,0,5,1,7,3,1,1,2.0,1061,8,0,0,1,5,7
4,2022-07-01 04:00:00,2022-07-01,U_Persona_Natural,19,0,0,5,1,7,4,1,1,2.0,1061,8,0,0,1,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,2022-08-31 19:00:00,2022-08-31,U_Persona_Natural,890,0,0,3,31,8,19,5,5,2.0,163,2,0,0,31,3,8
1484,2022-08-31 20:00:00,2022-08-31,U_Persona_Natural,581,0,0,3,31,8,20,5,5,2.0,163,2,0,0,31,3,8
1485,2022-08-31 21:00:00,2022-08-31,U_Persona_Natural,357,0,0,3,31,8,21,5,5,2.0,163,2,0,0,31,3,8
1486,2022-08-31 22:00:00,2022-08-31,U_Persona_Natural,216,0,0,3,31,8,22,5,5,2.0,163,2,0,0,31,3,8
1487,2022-08-31 23:00:00,2022-08-31,U_Persona_Natural,81,0,0,3,31,8,23,5,1,2.0,163,2,0,0,31,3,8

In [34]:
UPNI.to_excel(kernel4+'UPN_with_INCIDENTES.xlsx')

___