In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [ ]:
kernel='C:/Users/miavila/Documents/U/PROYECTO P/variables exogenas/'
festivos=pd.read_excel(kernel +'lista_festivos 2022.xlsx' )
festividades=pd.read_excel(kernel +'lista_festividades_2022.xlsx' )

# Set por hora - para cant. llamadas

In [5]:
def etl():
    #GENERACIÓN DE FECHA 
    gen=np.arange('2022-09-01', '2023-09-30', dtype='datetime64[h]')
    dfgen=pd.DataFrame(gen)
    df=dfgen.copy()
    df.rename(columns={0: "FechaT"},inplace=True)

    #CREAR COLUMNAS CORRESPONDIENTES A MES, DIA DEL MES, DIA DE LA SEMANA (INGLES)
    dfa=df.assign(MesN=df.FechaT.dt.month   ,Dia_MesN=df.FechaT.dt.day    ,Dia_SemN=df.FechaT.dt.day_name()) 

    # RENOMBRAR DIAS DE LA SEMANA POR NUMEROS
    #['Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves','Viernes'],[6,7,1,2,3,4,5]
    dfa['Dia_SemN'].replace(['Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday','Wednesday']
    ,[4,5,6,7,1,2,3],inplace=True)  
    
    #extrae solo año dia mes   columna solo fecha
    dfa['Fecha'] = dfa['FechaT'].dt.date.astype(str)
    dfa['Fecha'] =pd.to_datetime(dfa['Fecha'])
    #CREAR COLUMNA CON LA HORA
    dfa['Hora24']=dfa['FechaT'].dt.hour.astype(str) #df['Hora24']=pd.DatetimeIndex(df.FechaT).hour
    

    # INDEXAR FESTIVOS
    df1 = pd.merge(dfa,festivos,on='Fecha',how='left')
    # INDEXAR FESTIVIDADES
    dfa = pd.merge(df1,festividades,on='Fecha',how='left')

    # ordenar
    dfa=pd.DataFrame(dfa,columns=['FechaT','Fecha',
    'festivo', 'festividades', 'Dia_SemN','Dia_MesN', 'MesN','Hora24'])

    # guarda en excel
    dfa.to_excel(kernel+ 'X_new_hour.xlsx')
    
    return(dfa)
pass

DF=pd.DataFrame(etl());DF

,FechaT,Fecha,festivo,festividades,Dia_SemN,Dia_MesN,MesN,Hora24
0,2022-09-01 00:00:00,2022-09-01,0,0,4,1,9,0
1,2022-09-01 01:00:00,2022-09-01,0,0,4,1,9,1
2,2022-09-01 02:00:00,2022-09-01,0,0,4,1,9,2
3,2022-09-01 03:00:00,2022-09-01,0,0,4,1,9,3
4,2022-09-01 04:00:00,2022-09-01,0,0,4,1,9,4
...,...,...,...,...,...,...,...,...
9451,2023-09-29 19:00:00,2023-09-29,0,0,5,29,9,19
9452,2023-09-29 20:00:00,2023-09-29,0,0,5,29,9,20
9453,2023-09-29 21:00:00,2023-09-29,0,0,5,29,9,21
9454,2023-09-29 22:00:00,2023-09-29,0,0,5,29,9,22
9455,2023-09-29 23:00:00,2023-09-29,0,0,5,29,9,23

In [65]:
DF.dtypes

FechaT          datetime64[ns]
Fecha                   object
festivo                float64
festividades           float64
Dia_SemN                 int64
Dia_MesN                 int64
MesN                     int64
Hora24                  object
dtype: object

In [ ]:
UPN=DF[DF['Operación_N']=='U_Persona_Natural']

# Set por mes - para incidentes

In [7]:
def etl():
    #GENERACIÓN DE FECHA 
    gen=np.arange('2022-09-01', '2023-09-30', dtype='datetime64[D]')
    dfgen=pd.DataFrame(gen)
    df=dfgen.copy()
    df.rename(columns={0: "FechaT"},inplace=True)

    #CREAR COLUMNAS CORRESPONDIENTES A MES, DIA DEL MES, DIA DE LA SEMANA (INGLES)
    dfa=df.assign(MesN=df.FechaT.dt.month   ,Dia_MesN=df.FechaT.dt.day    ,Dia_SemN=df.FechaT.dt.day_name()) 

    # RENOMBRAR DIAS DE LA SEMANA POR NUMEROS
    #['Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves','Viernes'],[6,7,1,2,3,4,5]
    dfa['Dia_SemN'].replace(['Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday','Wednesday']
    ,[4,5,6,7,1,2,3],inplace=True)  
    
    #extrae solo año dia mes   columna solo fecha
    dfa['Fecha'] = dfa['FechaT'].dt.date.astype(str)
    dfa['Fecha'] =pd.to_datetime(dfa['Fecha'])
    #CREAR COLUMNA CON LA HORA
    dfa['Hora24']=dfa['FechaT'].dt.hour.astype(str) #df['Hora24']=pd.DatetimeIndex(df.FechaT).hour
    

    # INDEXAR FESTIVOS
    df1 = pd.merge(dfa,festivos,on='Fecha',how='left')
    # INDEXAR FESTIVIDADES
    dfa = pd.merge(df1,festividades,on='Fecha',how='left')

    # ordenar
    dfa=pd.DataFrame(dfa,columns=['FechaT','Fecha',
    'festivo', 'festividades', 'Dia_SemN','Dia_MesN', 'MesN','Hora24'])

    # guarda en excel
    dfa.to_excel(kernel+ 'X_new_month.xlsx')
    
    return(dfa)
pass

DF=pd.DataFrame(etl());DF

,FechaT,Fecha,festivo,festividades,Dia_SemN,Dia_MesN,MesN,Hora24
0,2022-09-01,2022-09-01,0,0,4,1,9,0
1,2022-09-02,2022-09-02,0,0,5,2,9,0
2,2022-09-03,2022-09-03,0,0,6,3,9,0
3,2022-09-04,2022-09-04,0,0,7,4,9,0
4,2022-09-05,2022-09-05,0,0,1,5,9,0
...,...,...,...,...,...,...,...,...
389,2023-09-25,2023-09-25,0,0,1,25,9,0
390,2023-09-26,2023-09-26,0,0,2,26,9,0
391,2023-09-27,2023-09-27,0,0,3,27,9,0
392,2023-09-28,2023-09-28,0,0,4,28,9,0
393,2023-09-29,2023-09-29,0,0,5,29,9,0

In [ ]:
FechaT	Fecha	festivo	festividades	Dia_SemN	Dia_MesN	MesN	Hora24