In [1]:
import pandas as pd
import numpy as np

In [3]:
#CLV=pd.read_excel('C:/Users/miavila/Desktop/Copia de CLV 16-12_31-05.xlsx',sheet_name='JULIO')

In [2]:
impala=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/query-impala-2922005.xlsx')
#JUNIO
ATE6=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Junio.xlsx',sheet_name='Atendidas')
ABA6=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Junio.xlsx',sheet_name='Abandonadas')

#JULIO
ATE7=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Julio.xlsx',sheet_name='Atendidas')
ABA7=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Julio.xlsx',sheet_name='Abandonadas')

#AGOSTO
ATE8=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Agosto.xlsx',sheet_name='Atendidas')
ABA8=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Agosto.xlsx',sheet_name='Abandonadas')

#SEPTIEMBRE
ATE9=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Septiembre.xlsx',sheet_name='Atendidas')
ABA9=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/ENGAGE/Reporte cc engage Septiembre.xlsx',sheet_name='Abandonadas')

In [3]:
len(ATE6)

348784

In [4]:
ATE6.Fecha2.isna().count()

348784

In [3]:
from pandas import concat


ATE=concat([ATE6,ATE7,ATE8,ATE9],axis=0)
ABA=concat([ABA6,ABA7,ABA8,ABA9],axis=0)
ATE.index = range(ATE.shape[0])
ABA.index = range(ABA.shape[0])

In [4]:
ABA.head()

,FechaDia,Hora,Nit,Empresa,Telefono,Segmentos,Segmento Global,Origen,Connid
0,2022-06-01,06:27:10,1.023935e+09,LUIS ROGER CAMACHO PEREZ,3013209601,BLANCO COBRO MASIVO,BLANCO,COMERCIAL,01d4033216f897ba
1,2022-06-01,06:28:30,8.607260e+07,ANGEL GEOVANNI GUTIERREZ CENDALES,3213354397,BLANCO COBRO MASIVO,BLANCO,COMERCIAL,019b0337824c8d98
2,2022-06-01,06:32:33,7.964979e+07,HECTOR GUILLERMO GONZALEZ BOTERO,3008488759,NARANJA VENTA <1000.000,NARANJA,COMERCIAL,019b0337824c8dac
3,2022-06-01,06:33:37,3.958182e+07,LUISA FERNANDA MONROY MOSQUERA,3154648586,BLANCO COBRO MASIVO,BLANCO,COMERCIAL,01d4033216f897ea
4,2022-06-01,06:35:36,1.000131e+09,EVELYN ARLETTE ESCOBAR PULIDO,3176607110,SIN COLOR,SIN COLOR,COMERCIAL,01d4033216f897ee

In [5]:
AT=pd.DataFrame(ATE,columns=['Cedula','Fecha2'])
AB=pd.DataFrame(ABA,columns=['FechaDia','Hora','Nit'])
IM=pd.DataFrame(impala,columns=['nro_identificacion','score_prioridad'])

In [6]:
AT.rename(columns={'Fecha2':'Fecha'},inplace=True)
AB.rename(columns={'FechaDia':'Fecha','Nit':'Cedula'},inplace=True)
IM.rename(columns={'nro_identificacion':'Cedula'},inplace=True)

In [7]:
AT['Abandonada']='No'
AB['Abandonada']='Si'
#base.assign(Abandonada='No')

In [8]:
AT.dtypes

Cedula                object
Fecha         datetime64[ns]
Abandonada            object
dtype: object

In [9]:
AT

               Cedula               Fecha Abandonada
0          1106891697 2022-06-01 06:01:21         No
1            21068909 2022-06-01 06:04:24         No
2            38241838 2022-06-01 06:08:48         No
3             9186472 2022-06-01 06:10:32         No
4          1031121618 2022-06-01 06:11:13         No
...               ...                 ...        ...
1242740    80064128.0 2022-09-15 20:55:39         No
1242741  1010242027.0 2022-09-15 20:55:38         No
1242742  1017222407.0 2022-09-15 20:58:12         No
1242743  1014303031.0 2022-09-15 21:00:17         No
1242744    80064128.0 2022-09-15 21:06:31         No

[1242745 rows x 3 columns]

In [10]:
#AT[:,'Hora']= pd.datetime(hour=AT.Fecha.dt.hour, minute=AT.Fecha.dt.minute, second=AT.Fecha.dt.second)
AT['Hora']=AT['Fecha'].dt.hour.astype(str)+':'+AT['Fecha'].dt.minute.astype(str)+':'+AT['Fecha'].dt.second.astype(str)

In [11]:
AT

               Cedula               Fecha Abandonada      Hora
0          1106891697 2022-06-01 06:01:21         No    6:1:21
1            21068909 2022-06-01 06:04:24         No    6:4:24
2            38241838 2022-06-01 06:08:48         No    6:8:48
3             9186472 2022-06-01 06:10:32         No   6:10:32
4          1031121618 2022-06-01 06:11:13         No   6:11:13
...               ...                 ...        ...       ...
1242740    80064128.0 2022-09-15 20:55:39         No  20:55:39
1242741  1010242027.0 2022-09-15 20:55:38         No  20:55:38
1242742  1017222407.0 2022-09-15 20:58:12         No  20:58:12
1242743  1014303031.0 2022-09-15 21:00:17         No   21:0:17
1242744    80064128.0 2022-09-15 21:06:31         No   21:6:31

[1242745 rows x 4 columns]

In [323]:
#AB.loc[:,'Fecha'] = AB.Fecha.astype(str)+' '+AB.Hora.astype(str)

In [11]:
AB

           Fecha      Hora        Cedula Abandonada
0     2022-06-01  06:27:10  1.023935e+09         Si
1     2022-06-01  06:28:30  8.607260e+07         Si
2     2022-06-01  06:32:33  7.964979e+07         Si
3     2022-06-01  06:33:37  3.958182e+07         Si
4     2022-06-01  06:35:36  1.000131e+09         Si
...          ...       ...           ...        ...
68891 2022-09-30  22:00:23  1.033745e+09         Si
68892 2022-09-30  22:09:18  5.174412e+07         Si
68893 2022-09-30  23:36:53  1.077969e+09         Si
68894 2022-09-30  23:56:49  1.019068e+09         Si
68895 2022-09-30  23:59:17  3.199252e+07         Si

[68896 rows x 4 columns]

In [12]:
from pandas import concat
CALL=concat( [AB,AT], axis=0)
CALL.index = range(CALL.shape[0])

### REEMPLAZA EL VALOR DE LA POSICIÓN j,i por -1

In [13]:
import re 
def extraer_tratamiento(name):
  m = re.search(r"\w+\.",str(name))
  if not m:
      return -1 # CON CARATERES *
  return m[0][:-1]

#### indexa en nueva columna

In [512]:
#CALL['CedulaN']=CALL['Cedula'].apply(extraer_tratamiento)

In [514]:
#CALL['CedulaN']=CALL['CedulaN'].astype(np.int64)

In [ ]:
#CALL[CALL['Cedula'].str.contains('*',regex=False)]

In [14]:
ENG=CALL

# SCORE_CLV Y IM 
# score CLV & PEP

# clound
nueva columna de cedula como cedula N

In [15]:
CLOU6=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/CLOUND/CLOUND/Junio.xlsx',sheet_name='Hoja2')
CLOU7=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/CLOUND/CLOUND/Julio.xlsx',sheet_name='Hoja2')
CLOU8=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/CLOUND/CLOUND/Agosto.xlsx',sheet_name='Hoja2')
CLOU9=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/CLOUND/CLOUND/Septiembre.xlsx',sheet_name='Hoja2')

In [16]:
CLOU=pd.concat([CLOU6,CLOU7,CLOU8,CLOU9],axis=0)
CLOU.index = range(CLOU.shape[0])

In [17]:
CLOU.dtypes

Marca de hora del resultado parcial           float64
Filtros                                        object
Tipo de medios                                 object
Usuarios - Con interacciones                   object
Fecha                                  datetime64[ns]
Dirección                                      object
DNIS                                           object
Cola                                           object
Abandonadas                                    object
Primera cola                                   object
Etiqueta externa                              float64
Manejo total                                   object
Exportación completa finalizada                object
dtype: object

In [522]:
#CLOU['Fecha']=CLOU['Fecha'].astype(np.datetime64)

In [18]:

CLOU['Hora']=CLOU['Fecha'].dt.hour.astype(str)+':'+CLOU['Fecha'].dt.minute.astype(str)+':'+CLOU['Fecha'].dt.second.astype(str)

In [19]:
CLO=pd.DataFrame(CLOU,columns=['Fecha','Hora','Etiqueta externa','Abandonadas'])
CLO.rename(columns={'Etiqueta externa':'Cedula','Abandonadas':'Abandonada'},inplace=True)

In [20]:
CLO

                      Fecha     Hora        Cedula Abandonada
0       2022-05-31 23:34:00  23:34:0  5.231458e+07         No
1       2022-05-31 23:55:00  23:55:0  5.310357e+07         No
2       2022-05-31 23:59:00  23:59:0  1.073322e+09         No
3       2022-05-31 23:59:00  23:59:0  4.003472e+07         No
4       2022-06-01 00:00:00    0:0:0  5.524834e+07         No
...                     ...      ...           ...        ...
1286647 2022-09-30 23:57:00  23:57:0  2.934498e+07         SÍ
1286648 2022-09-30 23:59:00  23:59:0  1.030686e+09         SÍ
1286649 2022-09-30 23:59:00  23:59:0  1.002152e+09         SÍ
1286650 2022-09-30 23:59:00  23:59:0  3.754223e+07         SÍ
1286651 2022-09-30 23:59:00  23:59:0  1.153464e+09         SÍ

[1286652 rows x 4 columns]

In [ ]:
#CLO.to_excel('CLOUND 06-09.csv')
#ENG.to_excel('ENGAGE 06-09.csv')

# MERGE en paralelo

In [21]:
ENG=CALL

In [22]:
CLO.dtypes

Fecha         datetime64[ns]
Hora                  object
Cedula               float64
Abandonada            object
dtype: object

In [23]:
ENG.dtypes

Fecha         datetime64[ns]
Hora                  object
Cedula                object
Abandonada            object
dtype: object

In [24]:
ENG['RUT']='ENGAGE'

In [25]:
CLO['RUT']='CLOUND'

In [26]:
CRUCE_MADRE=pd.concat([ENG,CLO],axis=0) # 
CRUCE_MADRE.index = range(CRUCE_MADRE.shape[0])

In [27]:
CRUCE_MADRE['CANAL']='Voz'

In [28]:
CRUCE_MADRE

                      Fecha      Hora        Cedula Abandonada     RUT CANAL
0       2022-06-01 00:00:00  06:27:10  1023934681.0         Si  ENGAGE   Voz
1       2022-06-01 00:00:00  06:28:30    86072601.0         Si  ENGAGE   Voz
2       2022-06-01 00:00:00  06:32:33    79649787.0         Si  ENGAGE   Voz
3       2022-06-01 00:00:00  06:33:37    39581825.0         Si  ENGAGE   Voz
4       2022-06-01 00:00:00  06:35:36  1000131289.0         Si  ENGAGE   Voz
...                     ...       ...           ...        ...     ...   ...
2598288 2022-09-30 23:57:00   23:57:0    29344977.0         SÍ  CLOUND   Voz
2598289 2022-09-30 23:59:00   23:59:0  1030686284.0         SÍ  CLOUND   Voz
2598290 2022-09-30 23:59:00   23:59:0  1002152174.0         SÍ  CLOUND   Voz
2598291 2022-09-30 23:59:00   23:59:0    37542233.0         SÍ  CLOUND   Voz
2598292 2022-09-30 23:59:00   23:59:0  1153463874.0         SÍ  CLOUND   Voz

[2598293 rows x 6 columns]

# UNIFICAR CON CHAT

In [29]:
kernel='C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/CLOUND/CLOUND CHAT/'
CHAT06=pd.read_excel(kernel+ 'Chat Jun.xlsx')
CHAT07=pd.read_excel(kernel+ 'Chat Jul.xlsx')
CHAT08=pd.read_excel(kernel+ 'Chat Ago.xlsx')
CHAT09=pd.read_excel(kernel+ 'Chat Sept.xlsx')

In [30]:
CH=pd.concat([CHAT06,CHAT07,CHAT08,CHAT09],axis=0)
CH.index = range(CH.shape[0])

In [31]:
CH

,Exportación completa finalizada,Marca de hora del resultado parcial,Filtros,Fecha,Etiqueta externa
0,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-05-31 21:55:00,39385154.0
1,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-05-31 22:54:00,55248338.0
2,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-05-31 23:36:00,22238469.0
3,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-05-31 23:40:00,1094930297.0
4,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-05-31 23:43:00,20716535.0
...,...,...,...,...,...
816801,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-09-30 23:54:00,1088327137.0
816802,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-09-30 23:54:00,1019126041.0
816803,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-09-30 23:56:00,1233894122.0
816804,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-09-30 23:57:00,52840728.0
816805,SÍ,NaN,Cola: Chat Persona Natural Publica Desborde; C...,2022-09-30 23:58:00,1070972502.0

In [40]:
CH.dtypes

Exportación completa finalizada                object
Marca de hora del resultado parcial           float64
Filtros                                        object
Fecha                                  datetime64[ns]
Etiqueta externa                               object
dtype: object

In [574]:
# A M D
#CH['Fecha']=CH['Fecha'].astype(np.datetime64)

# D M A  ->   A M D

In [636]:
#CH.sort_values(by='Fecha') 
#CH.index = range(CH.shape[0])

In [30]:
CH.dtypes

Exportación completa finalizada                object
Marca de hora del resultado parcial           float64
Filtros                                        object
Fecha                                  datetime64[ns]
Etiqueta externa                               object
dtype: object

In [32]:
CH['Hora']=CH['Fecha'].dt.hour.astype(str)+':'+CH['Fecha'].dt.minute.astype(str)+':'+CH['Fecha'].dt.second.astype(str)

In [33]:
CH.columns

Index(['Exportación completa finalizada',
       'Marca de hora del resultado parcial', 'Filtros', 'Fecha',
       'Etiqueta externa', 'Hora'],
      dtype='object')

In [34]:
CH['CANAL']='Chat'
CH['Abandonada']='Chat'

In [35]:
CH['RUT']='CHAT'

In [36]:
CLO.columns, CH.columns

(Index(['Fecha', 'Hora', 'Cedula', 'Abandonada', 'RUT'], dtype='object'),
 Index(['Exportación completa finalizada',
        'Marca de hora del resultado parcial', 'Filtros', 'Fecha',
        'Etiqueta externa', 'Hora', 'CANAL', 'Abandonada', 'RUT'],
       dtype='object'))

In [37]:
CHAT=pd.DataFrame(CH,columns=['Fecha','Hora','Etiqueta externa','Abandonada','CANAL','RUT'])
CHAT.rename(columns={'Etiqueta externa':'Cedula'},inplace=True)

In [640]:
#CHAT['CedulaN']=CHAT['Cedula'].apply(extraer_tratamiento)

In [38]:
CHAT=pd.DataFrame(CHAT,columns=['Fecha','Hora','Cedula','Abandonada','CANAL','RUT'])

# CRUCE MADRE

In [39]:
CRUCE_MADRE_CH= concat([CRUCE_MADRE,CHAT],axis=0)
CRUCE_MADRE_CH.index = range(CRUCE_MADRE_CH.shape[0])

In [40]:
CRUCE_MADRE_CH.Cedula.dtypes==np.float64

False

In [41]:
CRUCE_MADRE_CH

                      Fecha      Hora        Cedula Abandonada     RUT CANAL
0       2022-06-01 00:00:00  06:27:10  1023934681.0         Si  ENGAGE   Voz
1       2022-06-01 00:00:00  06:28:30    86072601.0         Si  ENGAGE   Voz
2       2022-06-01 00:00:00  06:32:33    79649787.0         Si  ENGAGE   Voz
3       2022-06-01 00:00:00  06:33:37    39581825.0         Si  ENGAGE   Voz
4       2022-06-01 00:00:00  06:35:36  1000131289.0         Si  ENGAGE   Voz
...                     ...       ...           ...        ...     ...   ...
3415094 2022-09-30 23:54:00   23:54:0  1088327137.0       Chat    CHAT  Chat
3415095 2022-09-30 23:54:00   23:54:0  1019126041.0       Chat    CHAT  Chat
3415096 2022-09-30 23:56:00   23:56:0  1233894122.0       Chat    CHAT  Chat
3415097 2022-09-30 23:57:00   23:57:0    52840728.0       Chat    CHAT  Chat
3415098 2022-09-30 23:58:00   23:58:0  1070972502.0       Chat    CHAT  Chat

[3415099 rows x 6 columns]

In [42]:
CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['Cedula']

In [43]:
CRUCE_MADRE_CH

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN
0,2022-06-01 00:00:00,06:27:10,1023934681.0,Si,ENGAGE,Voz,1023934681.0
1,2022-06-01 00:00:00,06:28:30,86072601.0,Si,ENGAGE,Voz,86072601.0
2,2022-06-01 00:00:00,06:32:33,79649787.0,Si,ENGAGE,Voz,79649787.0
3,2022-06-01 00:00:00,06:33:37,39581825.0,Si,ENGAGE,Voz,39581825.0
4,2022-06-01 00:00:00,06:35:36,1000131289.0,Si,ENGAGE,Voz,1000131289.0
...,...,...,...,...,...,...,...
3415094,2022-09-30 23:54:00,23:54:0,1088327137.0,Chat,CHAT,Chat,1088327137.0
3415095,2022-09-30 23:54:00,23:54:0,1019126041.0,Chat,CHAT,Chat,1019126041.0
3415096,2022-09-30 23:56:00,23:56:0,1233894122.0,Chat,CHAT,Chat,1233894122.0
3415097,2022-09-30 23:57:00,23:57:0,52840728.0,Chat,CHAT,Chat,52840728.0
3415098,2022-09-30 23:58:00,23:58:0,1070972502.0,Chat,CHAT,Chat,1070972502.0

In [44]:
IM=pd.DataFrame(impala,columns=['nro_identificacion','score_prioridad'])
IM.rename(columns={'nro_identificacion':'CedulaN'},inplace=True)
#NAN                    
nueva_fila = {'CedulaN': -2, 'score_prioridad':-2} # NAN = CEDULA -2
#SI TIENE CARACTER ESPECIAL COMO *, o algun caracter string 
nueva_fila2 = {'CedulaN':-1, 'score_prioridad':-1}

#Añadiendo una fila al dataframe
IM = IM.append(nueva_fila, ignore_index=True)
IM = IM.append(nueva_fila2, ignore_index=True)

C:\Users\miavila\AppData\Local\Temp\ipykernel_17012\3134955343.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  IM = IM.append(nueva_fila, ignore_index=True)
C:\Users\miavila\AppData\Local\Temp\ipykernel_17012\3134955343.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  IM = IM.append(nueva_fila2, ignore_index=True)

In [50]:
IM.tail()

          CedulaN  score_prioridad
19427   4170264.0              8.0
19428  78748361.0             12.0
19429  30030776.0              6.0
19430        -2.0             -2.0
19431        -1.0             -1.0

In [51]:
CRUCE_MADRE_CH.Cedula.isna().sum()

73526

In [45]:
CRUCE_MADRE_CH.CedulaN.replace(np.nan,-2,inplace=True)

In [53]:
CRUCE_MADRE_CH.CedulaN.isna().sum()

0

## reemplazo de las C.C NAN EN -2

In [46]:
CRUCE_MADRE_CH

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN
0,2022-06-01 00:00:00,06:27:10,1023934681.0,Si,ENGAGE,Voz,1023934681.0
1,2022-06-01 00:00:00,06:28:30,86072601.0,Si,ENGAGE,Voz,86072601.0
2,2022-06-01 00:00:00,06:32:33,79649787.0,Si,ENGAGE,Voz,79649787.0
3,2022-06-01 00:00:00,06:33:37,39581825.0,Si,ENGAGE,Voz,39581825.0
4,2022-06-01 00:00:00,06:35:36,1000131289.0,Si,ENGAGE,Voz,1000131289.0
...,...,...,...,...,...,...,...
3415094,2022-09-30 23:54:00,23:54:0,1088327137.0,Chat,CHAT,Chat,1088327137.0
3415095,2022-09-30 23:54:00,23:54:0,1019126041.0,Chat,CHAT,Chat,1019126041.0
3415096,2022-09-30 23:56:00,23:56:0,1233894122.0,Chat,CHAT,Chat,1233894122.0
3415097,2022-09-30 23:57:00,23:57:0,52840728.0,Chat,CHAT,Chat,52840728.0
3415098,2022-09-30 23:58:00,23:58:0,1070972502.0,Chat,CHAT,Chat,1070972502.0

### filtro para cc en textoo convertirlas en (-1)

In [491]:
#CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['CedulaNN'].apply(extraer_tratamiento)
#CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['CedulaN'].astype(np.int64)

In [47]:

SCORE=pd.read_excel('C:/Users/miavila/Desktop/CRUCE SCORE/3. CRUCE ENGAGE CLOUND/INT/Copia de SCORE PARA CALL JUL22.xlsx')
SCORE['NRO_IDENTIFICACION']=SCORE['NRO_IDENTIFICACION'].astype(np.int64)

SCORE_P=pd.DataFrame(SCORE,columns=['NRO_IDENTIFICACION', 'SCORE_PRIORIDAD'])
SCORE_P.rename(columns={'NRO_IDENTIFICACION':'CedulaN','SCORE_PRIORIDAD':'SCORE CLV'},inplace=True)

In [55]:
SCORE_P

           CedulaN  SCORE CLV
0       1088287917       10.0
1         51671725       10.0
2         79787900       10.0
3       1045137624       10.0
4       1118843787       10.0
...            ...        ...
523407    79207020       10.0
523408    20933299       11.0
523409    65742518       10.0
523410  1052388412       10.0
523411     8567908       10.0

[523412 rows x 2 columns]

In [48]:

#NAN                    
nueva_fila = {'CedulaN': -2, 'SCORE CLV':-2} # NAN = CEDULA -2
#SI TIENE CARACTER ESPECIAL COMO *, o algun caracter string 
nueva_fila2 = {'CedulaN':-1, 'SCORE CLV':-1}

#Añadiendo una fila al dataframe
SCORE_P =SCORE_P.append(nueva_fila, ignore_index=True)
SCORE_P= SCORE_P.append(nueva_fila2, ignore_index=True)

C:\Users\miavila\AppData\Local\Temp\ipykernel_17012\3641705642.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  SCORE_P =SCORE_P.append(nueva_fila, ignore_index=True)
C:\Users\miavila\AppData\Local\Temp\ipykernel_17012\3641705642.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  SCORE_P= SCORE_P.append(nueva_fila2, ignore_index=True)

In [49]:
SCORE_P['CedulaN']=SCORE_P['CedulaN'].astype(float)

In [568]:
#CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['CedulaN'].astype(str)
#IM['CedulaN']=IM['CedulaN'].astype(str)
#SCORE_P['CedulaN']=SCORE_P['CedulaN'].astype(str)

In [50]:
SCORE_P.tail(5)

             CedulaN  SCORE CLV
523409  6.574252e+07       10.0
523410  1.052388e+09       10.0
523411  8.567908e+06       10.0
523412 -2.000000e+00       -2.0
523413 -1.000000e+00       -1.0

In [635]:
CRUCE_MADRE_CH.dtypes,IM.dtypes,   SCORE_P.dtypes

(Fecha         datetime64[ns]
 Hora                  object
 Cedula                object
 Abandonada            object
 RUT                   object
 CANAL                 object
 CedulaN               object
 dtype: object,
 CedulaN            float64
 score_prioridad    float64
 dtype: object,
 CedulaN        int64
 SCORE CLV    float64
 dtype: object)

CRUCE_drop_S =CRUCE_MADRE_CH.loc[(CRUCE_MADRE_CH['CedulaN']==  )]

CRUCE_drop_S.head(5)

CRUCE_MADRE_CH.CedulaN.replace('S',-10,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('CONTRATISTA',-11,inplace=True) 
CRUCE_MADRE_CH.CedulaN.replace('CUENTAS',-12,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('AUTOS',-13,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('INGEPLAN',-14,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('E',-15,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('ENTRETENIMIENTO',-16,inplace=True)
CRUCE_MADRE_CH.CedulaN.replace('P', -17,inplace=True)

In [51]:
CRUCE_MADRE_CH

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN
0,2022-06-01 00:00:00,06:27:10,1023934681.0,Si,ENGAGE,Voz,1023934681.0
1,2022-06-01 00:00:00,06:28:30,86072601.0,Si,ENGAGE,Voz,86072601.0
2,2022-06-01 00:00:00,06:32:33,79649787.0,Si,ENGAGE,Voz,79649787.0
3,2022-06-01 00:00:00,06:33:37,39581825.0,Si,ENGAGE,Voz,39581825.0
4,2022-06-01 00:00:00,06:35:36,1000131289.0,Si,ENGAGE,Voz,1000131289.0
...,...,...,...,...,...,...,...
3415094,2022-09-30 23:54:00,23:54:0,1088327137.0,Chat,CHAT,Chat,1088327137.0
3415095,2022-09-30 23:54:00,23:54:0,1019126041.0,Chat,CHAT,Chat,1019126041.0
3415096,2022-09-30 23:56:00,23:56:0,1233894122.0,Chat,CHAT,Chat,1233894122.0
3415097,2022-09-30 23:57:00,23:57:0,52840728.0,Chat,CHAT,Chat,52840728.0
3415098,2022-09-30 23:58:00,23:58:0,1070972502.0,Chat,CHAT,Chat,1070972502.0

In [52]:
import re 
def extraer_tratamiento(name):
  m = re.search(r"\w+\.",str(name))
  if not m:
      return -1 # CON CARATERES *
  return m[0][:-1]

In [53]:
CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['CedulaN'].apply(extraer_tratamiento)


key_list = ['a1095796107','71375218*','71375218*'
,'71213472*'
,'6458971*'
,'528305*78'
,'5270301*'
,'52424436*'
,'52414642*'
,'52154960*'
,'43978802*'
,'32090899*'
,'30080672*'
,'29280026*'
,'21134147*'
,'156947*'
,'152380213*'
,'134147*'
,'11955446*'
,'1152190613*'
,'1140852510*'
,'1088039749*'
,'107662459*'
,'1061*'
,'1040751737*'
,'1035856275*'
,'101*','1007373728*','10*5','*43567550','5271435*','0*84521284543']
c = np.linspace(-100,-100,32)
c
value_list = c

dict_from_list = dict(zip(key_list, value_list))
print(dict_from_list)
CRUCE_MADRE_CH.CedulaN.replace(dict_from_list,inplace=True)

In [54]:
CRUCE_MADRE_CH['CedulaN']=CRUCE_MADRE_CH['CedulaN'].astype(np.int64)

# cruces

In [55]:
CRUCE_CLV=pd.merge(CRUCE_MADRE_CH,SCORE_P,on=['CedulaN'], how='left')

In [56]:
CRUCE_CLV

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN,SCORE CLV
0,2022-06-01 00:00:00,06:27:10,1023934681.0,Si,ENGAGE,Voz,1023934681,NaN
1,2022-06-01 00:00:00,06:28:30,86072601.0,Si,ENGAGE,Voz,86072601,NaN
2,2022-06-01 00:00:00,06:32:33,79649787.0,Si,ENGAGE,Voz,79649787,NaN
3,2022-06-01 00:00:00,06:33:37,39581825.0,Si,ENGAGE,Voz,39581825,NaN
4,2022-06-01 00:00:00,06:35:36,1000131289.0,Si,ENGAGE,Voz,1000131289,NaN
...,...,...,...,...,...,...,...,...
3415094,2022-09-30 23:54:00,23:54:0,1088327137.0,Chat,CHAT,Chat,1088327137,NaN
3415095,2022-09-30 23:54:00,23:54:0,1019126041.0,Chat,CHAT,Chat,1019126041,NaN
3415096,2022-09-30 23:56:00,23:56:0,1233894122.0,Chat,CHAT,Chat,1233894122,NaN
3415097,2022-09-30 23:57:00,23:57:0,52840728.0,Chat,CHAT,Chat,52840728,NaN
3415098,2022-09-30 23:58:00,23:58:0,1070972502.0,Chat,CHAT,Chat,1070972502,NaN

In [57]:
CRUCE_CLV_PEP=pd.merge(CRUCE_CLV,IM,on=['CedulaN'], how='left')

In [58]:
CRUCE_CLV_PEP['SCORE CLV'].unique()

array([nan, 10., 11., -1., 12., 13.])

In [59]:
CRUCE_=CRUCE_CLV_PEP.loc[(CRUCE_CLV_PEP['RUT'] == 'CLOUND')]

In [60]:
CRUCE_

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN,SCORE CLV,score_prioridad
1311641,2022-05-31 23:34:00,23:34:0,52314577.0,No,CLOUND,Voz,52314577,NaN,NaN
1311642,2022-05-31 23:55:00,23:55:0,53103572.0,No,CLOUND,Voz,53103572,10.0,NaN
1311643,2022-05-31 23:59:00,23:59:0,1073321908.0,No,CLOUND,Voz,1073321908,NaN,NaN
1311644,2022-05-31 23:59:00,23:59:0,40034715.0,No,CLOUND,Voz,40034715,NaN,NaN
1311645,2022-06-01 00:00:00,0:0:0,55248338.0,No,CLOUND,Voz,55248338,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2598288,2022-09-30 23:57:00,23:57:0,29344977.0,SÍ,CLOUND,Voz,29344977,NaN,NaN
2598289,2022-09-30 23:59:00,23:59:0,1030686284.0,SÍ,CLOUND,Voz,1030686284,NaN,NaN
2598290,2022-09-30 23:59:00,23:59:0,1002152174.0,SÍ,CLOUND,Voz,1002152174,NaN,NaN
2598291,2022-09-30 23:59:00,23:59:0,37542233.0,SÍ,CLOUND,Voz,37542233,10.0,NaN
2598292,2022-09-30 23:59:00,23:59:0,1153463874.0,SÍ,CLOUND,Voz,1153463874,NaN,NaN

In [61]:
CRUCE_CLV_PEP.Abandonada.replace(np.nan,'CHAT',inplace=True)

In [62]:
CRUCE_CLV_PEP.dtypes

Fecha              datetime64[ns]
Hora                       object
Cedula                     object
Abandonada                 object
RUT                        object
CANAL                      object
CedulaN                     int64
SCORE CLV                 float64
score_prioridad           float64
dtype: object

In [63]:
CRUCE_CLV_PEP.Abandonada.unique()


# dice chat por qeu al cruzar la base de chat tien solo fecha y cc

array(['Si', 'No', 'SÍ', 'Chat'], dtype=object)

# -3  EN SCORE PARA CC QUE NO TIENEN SCORE

In [64]:

CRUCE_CLV_PEP.rename(columns={'score_prioridad':'SCORE PEP'},inplace=True)

CRUCE_CLV_PEP['SCORE CLV'].replace(np.nan,-3,inplace=True)
CRUCE_CLV_PEP['SCORE PEP'].replace(np.nan,-3,inplace=True)
CRUCE_CLV_PEP['Abandonada'].replace('SÍ','Si',inplace=True)

In [65]:
CRUCE_CLV_PEP.Abandonada.unique(),  CRUCE_CLV_PEP['SCORE PEP'].unique()

(array(['Si', 'No', 'Chat'], dtype=object),
 array([-3.,  6., 10.,  7., -1., 12.,  4.,  8., 11.,  1.,  9.,  5., 13.,
         3.,  2.]))

In [66]:
CRUCE_CLV_PEP.index= range(CRUCE_CLV_PEP.shape[0])

In [67]:
CRUCE_CLV_PEP

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN,SCORE CLV,SCORE PEP
0,2022-06-01 00:00:00,06:27:10,1023934681.0,Si,ENGAGE,Voz,1023934681,-3.0,-3.0
1,2022-06-01 00:00:00,06:28:30,86072601.0,Si,ENGAGE,Voz,86072601,-3.0,-3.0
2,2022-06-01 00:00:00,06:32:33,79649787.0,Si,ENGAGE,Voz,79649787,-3.0,-3.0
3,2022-06-01 00:00:00,06:33:37,39581825.0,Si,ENGAGE,Voz,39581825,-3.0,-3.0
4,2022-06-01 00:00:00,06:35:36,1000131289.0,Si,ENGAGE,Voz,1000131289,-3.0,-3.0
...,...,...,...,...,...,...,...,...,...
3415094,2022-09-30 23:54:00,23:54:0,1088327137.0,Chat,CHAT,Chat,1088327137,-3.0,-3.0
3415095,2022-09-30 23:54:00,23:54:0,1019126041.0,Chat,CHAT,Chat,1019126041,-3.0,-3.0
3415096,2022-09-30 23:56:00,23:56:0,1233894122.0,Chat,CHAT,Chat,1233894122,-3.0,-3.0
3415097,2022-09-30 23:57:00,23:57:0,52840728.0,Chat,CHAT,Chat,52840728,-3.0,-3.0
3415098,2022-09-30 23:58:00,23:58:0,1070972502.0,Chat,CHAT,Chat,1070972502,-3.0,-3.0

In [68]:
# CRUCE_CLV_PEP.to_clipboard(sep=';')

___
# 3MILLONES

In [106]:
CRUCE_2=CRUCE_CLV_PEP.loc[(CRUCE_CLV_PEP['SCORE CLV'] != -3.0)]

In [107]:
CRUCE_2

,Fecha,Hora,Cedula,Abandonada,RUT,CANAL,CedulaN,SCORE CLV,SCORE PEP
8,2022-06-01 00:00:00,06:46:51,52373255.0,Si,ENGAGE,Voz,52373255,10.0,-3.0
23,2022-06-01 00:00:00,07:23:57,79146011.0,Si,ENGAGE,Voz,79146011,10.0,-3.0
25,2022-06-01 00:00:00,07:27:53,32105662.0,Si,ENGAGE,Voz,32105662,10.0,-3.0
29,2022-06-01 00:00:00,07:35:36,91510068.0,Si,ENGAGE,Voz,91510068,10.0,-3.0
31,2022-06-01 00:00:00,07:36:15,80426651.0,Si,ENGAGE,Voz,80426651,10.0,-3.0
...,...,...,...,...,...,...,...,...,...
3415061,2022-09-30 23:31:00,23:31:0,1064840066.0,Chat,CHAT,Chat,1064840066,10.0,-3.0
3415063,2022-09-30 23:32:00,23:32:0,32863005.0,Chat,CHAT,Chat,32863005,10.0,-3.0
3415069,2022-09-30 23:37:00,23:37:0,31992519.0,Chat,CHAT,Chat,31992519,11.0,-3.0
3415076,2022-09-30 23:42:00,23:42:0,1032393648.0,Chat,CHAT,Chat,1032393648,11.0,-3.0
3415091,2022-09-30 23:51:00,23:51:0,1030662853.0,Chat,CHAT,Chat,1030662853,10.0,-3.0

In [108]:
CRUCE_3=CRUCE_2.loc[(CRUCE_2['SCORE CLV'] != -1.0)]

In [95]:
#C3=CRUCE_2.loc[(CRUCE_2['SCORE CLV'] == -1.0)]

In [109]:
CRUCE_3.count()

Fecha         592188
Hora          592188
Cedula        592188
Abandonada    592188
RUT           592188
CANAL         592188
CedulaN       592188
SCORE CLV     592188
SCORE PEP     592188
dtype: int64

In [100]:
CRUCE_3.columns

Index(['Fecha', 'Hora', 'Cedula', 'Abandonada', 'RUT', 'CANAL', 'CedulaN',
       'SCORE CLV', 'SCORE PEP'],
      dtype='object')

In [101]:
CRUCE_3=pd.DataFrame(CRUCE_3,columns=['Fecha', 'Hora', 'Abandonada', 'RUT', 'CANAL', 'CedulaN',
        'SCORE CLV'])

In [103]:
CRUCE_3.to_excel("CRUCE ALL CLV.xlsx")

CRUCE2 = CRUCE.copy()
with pd.ExcelWriter('CRUCE ENGAGE.xlsx') as writer:  
    CRUCE2.to_excel(writer, sheet_name='CRUCE')
    CRUCE_NAN.to_excel(writer, sheet_name='CC NAN')
    CRUCE_STRING.to_excel(writer, sheet_name='CC MAL ESCRITAS')

# AGRUPACIÓN

In [653]:
CRUCE_CLV_PEP.columns
dfa=CRUCE_CLV_PEP

In [654]:
dfa.dtypes

Fecha         datetime64[ns]
Hora                  object
Cedula                object
Abandonada            object
RUT                   object
CANAL                 object
CedulaN                int64
SCORE CLV            float64
SCORE PEP            float64
dtype: object

In [655]:
dfaa=dfa.assign(MesN=dfa['Fecha'].dt.month ,Dia_MesN=dfa['Fecha'].dt.date)

In [656]:
dfaa.dtypes

Fecha         datetime64[ns]
Hora                  object
Cedula                object
Abandonada            object
RUT                   object
CANAL                 object
CedulaN                int64
SCORE CLV            float64
SCORE PEP            float64
MesN                   int64
Dia_MesN              object
dtype: object

In [ ]:
#dfaa['Fecha'] = pd.to_datetime(dfaa.Fecha, format='%Y-%m-%d')
#dfaa['Dia_MesN']=pd.to_datetime(dfaa.Dia_MesN,format='%Y-%d-%m')
#dfaa['Dia_MesN'].strftime("%Y-%m-%d")

In [657]:
dfaa['CedulaN'].isna().sum(),dfaa['SCORE PEP'].isna().sum()

(0, 0)

In [669]:
#agru = dfaa.groupby([dfaa.Dia_MesN, dfaa.RUT, dfaa.Abandonada, dfaa.CANAL, dfaa['SCORE CLV'] ])['CedulaN'].count()
#agruM= dfaa.groupby([dfaa.MesN, dfaa.RUT, dfaa.Abandonada, dfaa.CANAL, dfaa['SCORE CLV']])['CedulaN'].count()

agru = dfaa.groupby([dfaa.Dia_MesN,dfaa.RUT,dfaa.Abandonada,dfaa.CANAL,dfaa['SCORE PEP']])['CedulaN'].count()
agruM= dfaa.groupby([dfaa.MesN,dfaa.RUT,dfaa.Abandonada,dfaa.CANAL,dfaa['SCORE PEP']])['CedulaN'].count()


AGR=dfaa.groupby([dfaa.MesN, dfaa.RUT, dfaa.CANAL, dfaa['SCORE CLV'], dfaa.Abandonada])['CedulaN'].count()

In [659]:
agru

Dia_MesN    RUT     Abandonada  CANAL  SCORE CLV
2022-05-31  CHAT    Chat        Chat   -3.0           12
                                        10.0           1
            CLOUND  No          Voz    -3.0            3
                                        10.0           1
2022-06-01  CHAT    Chat        Chat   -3.0         7873
                                                    ...
2022-09-30  ENGAGE  No          Voz     12.0           5
                                        13.0           1
                    Si          Voz    -3.0          532
                                        10.0          48
                                        11.0           2
Name: CedulaN, Length: 2503, dtype: int64

In [660]:
agruM

MesN  RUT     Abandonada  CANAL  SCORE CLV
5     CHAT    Chat        Chat   -3.0             12
                                  10.0             1
      CLOUND  No          Voz    -3.0              3
                                  10.0             1
6     CHAT    Chat        Chat   -3.0         166135
                                               ...
9     ENGAGE  Si          Voz    -3.0           9335
                                 -1.0              1
                                  10.0           748
                                  11.0            20
                                  12.0             2
Name: CedulaN, Length: 112, dtype: int64

In [670]:
#CLV
#agru2 = agru.index.to_frame(name=['Dia_MesN','RUT','Abandonada','CANAL','SCORE CLV'])
#agruMM=agruM.index.to_frame(name=['MesN','RUT','Abandonada','CANAL','SCORE CLV'])
#PEP
agru2 = agru.index.to_frame(name=['Dia_MesN','RUT','Abandonada','CANAL','SCORE PEP'])
agruMM=agruM.index.to_frame(name=['MesN','RUT','Abandonada','CANAL','SCORE PEP'])


AG=AGR.index.to_frame(name=['MesN','RUT','CANAL','SCORE CLV','Abandonada'])

In [671]:
agru2.index = range(agru2.shape[0])
agruMM.index= range(agruMM.shape[0])
AG.index= range(AG.shape[0])

In [672]:
#CLV
#DF=pd.DataFrame(agru2,columns=['Dia_MesN','RUT','Abandonada','CANAL','SCORE CLV'])
#DFM=pd.DataFrame(agruMM,columns=['MesN','RUT','Abandonada','CANAL','SCORE CLV'])
#PEP
DF=pd.DataFrame(agru2,columns=['Dia_MesN','RUT','Abandonada','CANAL','SCORE PEP'])
DFM=pd.DataFrame(agruMM,columns=['MesN','RUT','Abandonada','CANAL','SCORE PEP'])
AGG=pd.DataFrame(agruMM,columns=['MesN','RUT','CANAL','SCORE PEP','Abandonada'])

In [673]:
recib=pd.DataFrame(agru.values,columns=['count_CC'])
recibM=pd.DataFrame(agruM.values,columns=['count_CC'])

In [674]:
CX=pd.concat([DF,recib], axis=1,)
CXM=pd.concat([DFM,recibM],axis=1)

In [675]:
CXM

     MesN     RUT Abandonada CANAL  SCORE PEP  count_CC
0       5    CHAT       Chat  Chat       -3.0        13
1       5  CLOUND         No   Voz       -3.0         4
2       6    CHAT       Chat  Chat       -3.0    195181
3       6    CHAT       Chat  Chat       -1.0      3264
4       6    CHAT       Chat  Chat        4.0         9
..    ...     ...        ...   ...        ...       ...
226     9  ENGAGE         Si   Voz       -1.0         1
227     9  ENGAGE         Si   Voz        8.0         1
228     9  ENGAGE         Si   Voz       10.0         3
229     9  ENGAGE         Si   Voz       11.0         1
230     9  ENGAGE         Si   Voz       12.0         2

[231 rows x 6 columns]

In [676]:
#CX.to_excel('TABLE_SCORE_CLV_DIA.xlsx')

CX.to_excel('TABLE_SCORE_PEP_DIA.xlsx')

In [677]:
#CLV
#CXM.to_excel('Table_SCORE_CLV_MES.xlsx')


#PEP
CXM.to_excel('Table_SCORE_PEP_MES.xlsx')

___

## RESUMEN SI NO HUBIERA QUE HACER ETL

In [ ]:
CLV.rename(columns={'Cedula':'NRO_IDENTIFICACION'},inplace=True)
SCORE_P=pd.DataFrame(SCORE,columns=['NRO_IDENTIFICACION', 'SCORE_PRIORIDAD'])
df = pd.merge(CLV,SCORE_P,on=['NRO_IDENTIFICACION'],how='left')